footer {
    width: auto;
    height: auto;
    background-color: rgba(33, 37, 41, var(--bs-bg-opacity, 1));
    font-size: $font20;
    padding: $font10;
    text-align: center;
    color: $color-blanco;
}